<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Created By</th>
      <th>Date Created</th>
      <th>Text</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    {{#each posts as |post| }}
    <tr class="post">
      <td>
        <a href="/post/{{post.id}}">{{post.title}}</a>
      </td>
      <td>{{post.user.name}}</td>
      <td>{{format_date post.date_created}}</td>
      <td>{{post.text}}</td>
      <td>{{post.comment}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
